		</div>
		<!-- Start of footer -->
		<div id='w2t_footer'>
			<div class='w2t-copy-container row'>
				<div class='w2t_footer_copyright'>
					Copyright &copy; {{ now.Year }} Matt Andreko. All Rights Reserved
				</div>
			</div>
		</div>
		<!-- End of footer -->
		{{ if .Site.Params.disqusShortname }}
			{{ if not (eq .Params.comments false) }}
				{{ partial "disqus_count.html" . }}
			{{ end }}
		{{ end }}
		
	</body>
</html>
<noscript>
	<link href="//fonts.googleapis.com/css?family=Raleway:400,700%7COpen+Sans:400,700,400italic" media="all" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css" integrity="sha256-2YN65RPLgK7PP1NpH0YKIgYwPo7o/96HqVXBH7lQ3MU=" crossorigin="anonymous" />
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
</noscript>