		</div>
		<!-- Start of footer -->
		<div id='w2t_footer'>
			<div class='w2t-copy-container row'>
				<div class='w2t_footer_copyright'>
					Copyright &copy; {{ now.Year }} Matt Andreko. All Rights Reserved
				</div>
			</div>
		</div>
		<!-- End of footer -->
		{{ if .Site.Params.disqusShortname }}
			{{ if not (eq .Params.comments false) }}
				{{ partial "disqus_count.html" . }}
			{{ end }}
		{{ end }}
		
	</body>
</html>
<noscript>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700%7COpen+Sans:400,700,400italic" integrity="sha384-jonr7/2pedntibUjz0yp1wzMNgyxEPd7cwUhyOzSDZlWhjnJLvlonUm3O2pPRMHO" crossorigin="anonymous" media="all" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous" />
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
</noscript>