<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
		<meta content='{{ .Site.Params.description }}' name='description'/>
		<meta content='{{ .Site.Params.keywords }}' name='keywords'/>
		{{ if .Site.Params.social.twitter }}
		<meta content='@{{ .Site.Params.social.twitter }}' name='twitter:site'/>
		<meta content='@{{ .Site.Params.social.twitter }}' name='twitter:creator'/>
		{{ end }}
		<link href='{{ .Site.BaseURL }}img/favicon.ico' rel='icon' type='image/x-icon'/>
		<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}img/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}img/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}img/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}img/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}img/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}img/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}img/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}img/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}img/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.BaseURL }}img/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}img/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}img/favicon-16x16.png">
		<link rel="manifest" href="{{ .Site.BaseURL }}img/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}img/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link href='{{ .Site.BaseURL }}' rel='canonical'/>
		<title>{{ .Title }}</title>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer async></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/js/fontawesome.min.js" integrity="sha256-p1rugc6vQ3W1M+J8xcHsQA07SkKvpGJlz4Uo+mxPP7Q=" crossorigin="anonymous" defer async></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/js/brands.min.js" integrity="sha256-oAJXCqY95Tu+gAhKEFrSyNb8MZw8QLH7M7DZnPvySmk=" crossorigin="anonymous" defer async></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/js/solid.min.js" integrity="sha256-VBkx1KuWMQsCMY3ShxVk5WyYNVcQYKNUpjF13YWP5ZE=" crossorigin="anonymous" defer async></script>
		{{ if .Site.Params.GoogleAnalytics }}
		<script async src="//www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleAnalytics }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ .Site.Params.GoogleAnalytics }}');
		</script>
		{{ end }}

		<!-- Defer CSS -->
		<script type="text/javascript">
			function writeCSS(url) {
				var stylesheet = document.createElement('link');
				stylesheet.href = url;
				stylesheet.rel = 'stylesheet';
				stylesheet.type = 'text/css';
				document.getElementsByTagName('head')[0].appendChild(stylesheet);
			}
			
			writeCSS('//fonts.googleapis.com/css?family=Raleway:400,700%7COpen+Sans:400,700,400italic');
			writeCSS('//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/fontawesome.min.css');
			writeCSS('/css/main.css');
	  	</script>

		<!-- Script local fallback -->
		<script>
			//if (! $.fn.jquery) {
			if(typeof jQuery!=='undefined'){
				document.write('<script src="/js/jquery.min.js"><\/script>');
			}
			//if (! FontAwesome) {
			if(typeof FontAwesome!=='undefined'){
				document.write('<script src="/js/fontawesome.min.js"><\/script>');
				document.write('<script src="/js/brands.min.js"><\/script>');
				document.write('<script src="/js/solid.min.js"><\/script>');
				document.write('<link rel="stylesheet" href="/css/fontawesome.min.css">');
			}
		</script>
	</head>
	<body class='index'>
	<!-- Start of top menu -->
	<div class='head-wrap'>
		<div class='row' id='header-wrappers'>
			<div class='headerleft'>
				<div class='headerleft section' id='headerleft'>
					<div class='widget Header' data-version='1' id='Header1'>
						<div id='header-inner'>
							<a href='/' style='display: block'><h1 style='display:none'></h1>
								<img alt="Logo" height="55px; " id="Header1_headerimg" src="/img/logo.png" style="display: block" width="311px; ">
							</a>
						</div>
					</div>
				</div>
			</div>
			<div style='clear: both;'></div>
		</div>
	</div>
	<div class='navi-menu'>
		<div class='nav-menu section' id='Navigation Menu' name='Navigation Menu'>
			<div class='widget LinkList' data-version='1' id='LinkList100'>
				<div class='widget-content'>
					<ul id='nav' itemscope='' itemtype='http://schema.org/SiteNavigationElement'>
						{{ range $.Site.Menus.main }}
							<li itemprop='name'><a href='{{ .URL }}' itemprop='url'>{{ .Name }}</a></li>
						{{ end }}
					</ul>
					<select class="selectnav" id="selectnav2">
						<option value="">Menu</option>
						{{ range $.Site.Menus.main }}
						<option value='{{ .URL }}'>{{ .Name }}</option>
						{{ end }}
					</select>
				</div>
			</div>
		</div>
		<div class='top-bar-social blue section' id='header social widget' name='Top Social Widget'>
			<div class='widget LinkList' data-version='1' id='LinkList230'>
				<div class='widget-content'>
					<ul id='social'>
						{{ if .Site.Params.Social.Facebook }}
							<li><a class='facebook' href='https://www.facebook.com/{{ .Site.Params.Social.Facebook }}' title='facebook'><i class="fab fa-facebook"></i></a></li>
						{{ end }}
						{{ if .Site.Params.Social.Twitter }}
							<li><a class='twitter' href='https://www.twitter.com/{{ .Site.Params.Social.Twitter }}' title='twitter'><i class="fab fa-twitter"></i></a></li>
						{{ end }}
						{{ if .Site.Params.Social.LinkedIn }}
							<li><a class='linkedin' href='https://www.linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}' title='linkedin'><i class="fab fa-linkedin"></i></a></li>
						{{ end }}
						{{ if .Site.Params.Social.StackOverflow }}
							<li><a class='stack-overflow' href='http://stackoverflow.com/story/{{ .Site.Params.Social.StackOverflow }}' title='stack-overflow'><i class="fab fa-stack-overflow"></i></a></li>
						{{ end }}
						{{ if .Site.Params.Social.Github }}
							<li><a class='github' href='https://www.github.com/{{ .Site.Params.Social.Github }}' title='github'><i class="fab fa-github"></i></a></li>
						{{ end }}
						{{ if .Site.Params.Social.Instagram }}
							<li><a class='instagram' href='https://www.instagram.com/{{ .Site.Params.Social.Instagram }}' title='instagram'><i class="fab fa-instagram"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
		<div style='clear: both;'></div>
	</div>
	<!-- End of top menu -->
	<div style='clear: both;'></div>
	<div id="outer-wrapper" class="index home">
