<div class='top-bar-menu'>
	<div class='top-menu'>
		<div class='top-menu section' id='top-menu'>
			<div class='widget LinkList' data-version='1' id='LinkList940'>
				<div class='widget-content'>
					<ul id='nav1' itemscope='' itemtype='http://schema.org/SiteNavigationElement'>
						<li itemprop='name'><a href='#' itemprop='url'>Home</a></li>
						<li itemprop='name'><a href='#' itemprop='url'>About</a></li>
						<li itemprop='name'><a href='#' itemprop='url'>Contact</a></li>
						<li itemprop='name'><a href='#' itemprop='url'>Sitemap</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>