<div id='lowerbar-wrapper'>
	<div class='lowerbar ready-widget section' id='lowerbar3'><div class='widget HTML' data-version='1' id='HTML92'>
		<h2 class='title'>Comments</h2>
		<div class='widget-content'>
			<span class="recentcomments" data-no="5">
				<script type="text/javascript" src="https://{{ .Site.Params.disqusShortname }}.disqus.com/recent_comments_widget.js?num_items=3&hide_avatars=0&avatar_size=40&excerpt_length=200" integrity="sha384-+SJPBjQmIj0/6dcg3K1Te/o/AAKFPYQzCJ68mUar9ENcXW4i35j5osIRAG5jvhBU" crossorigin="anonymous"></script>
			</span>
		</div>
		<div class='clear'></div>
	</div></div>
</div>
