<!-- Start of bottom menu -->
<div class='top-bar-menu'>
	<div class='top-menu'>
		<div class='top-menu section' id='top-menu'>
			<div class='widget LinkList' data-version='1' id='LinkList940'>
				<div class='widget-content'>
					<ul id='nav1' itemscope='' itemtype='http://schema.org/SiteNavigationElement'>
						<li itemprop='name'><a href='{{ .Site.BaseURL }}' itemprop='url'>HOME</a></li>
						<li itemprop='name'><a href='{{ .Site.BaseURL }}categories' itemprop='url'>CATEGORIES</a></li>
						<li itemprop='name'><a href='#' itemprop='url'>ARCHIVE</a></li>
						<li itemprop='name'><a href='{{ .Site.BaseURL }}resume.pdf' itemprop='url'>RESUME</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of bottom menu -->
