<!-- Start of bottom menu -->
<div class='top-bar-menu'>
	<div class='top-menu'>
		<div class='top-menu section' id='top-menu'>
			<div class='widget LinkList' data-version='1' id='LinkList940'>
				<div class='widget-content'>
					<ul id='nav1' itemscope='' itemtype='http://schema.org/SiteNavigationElement'>
						{{ range $.Site.Menus.main }}
							<li itemprop='name'><a href='{{ .URL }}' itemprop='url'>{{ .Name }}</a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of bottom menu -->
