{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}

	<div class='blog-pager' id='blog-pager'>
		
		<span class="showpageOf">Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</span>

			{{ with $pag.First }}
				<span class="displaypageNum">
					<a href="{{ .URL }}" aria-label="First">
						<i class="fa fa-angle-double-left fa-lg"></i>
					</a>
				</span>		        
    		{{ end }}

    		{{ if $pag.HasPrev }}
		    	<span class="displaypageNum">
		    		<a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">
		    			<i class="fa fa-angle-left fa-lg"></i>
		    		</a>
		    	</span>
		    {{ end }}


		    {{ $start := $.Site.Params.Paginate }}
                    {{ $halfStart := div $start 2 }}
		    {{ $after := sub $pag.PageNumber $halfStart }}
			
		    {{ $.Scratch.Set "after" $after }}

		    {{ if le $pag.PageNumber $halfStart }} 
                    {{ range first $start $pag.Pagers }}
                        {{ if eq . $pag }}
                                <span class="pagecurrent">
                                        {{ .PageNumber }}
                                </span>
                        {{ else }}
                                <span class="displaypageNum">
                                        <a href="{{ .URL }}">{{ .PageNumber }}</a>
                                </span>
                        {{ end }}
                    {{ end }}
                    {{ else }}
		    {{ range first $start (after ($.Scratch.Get "after") $pag.Pagers) }}
		    	{{ if eq . $pag }}
		    		<span class="pagecurrent">
		    			{{ .PageNumber }}
		    		</span>
		    	{{ else }}
		    		<span class="displaypageNum">
			    		<a href="{{ .URL }}">{{ .PageNumber }}</a>
		    		</span>
		    	{{ end }}		    	
		    {{ end }}
                    {{ end }}
		    {{ if $pag.HasNext }}
		    	<span class="displaypageNum">
		    		<a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next">
		    			<i class="fa fa-angle-right fa-lg"></i>
		    		</a>
	    		</span>
		    {{ end }}

		    {{ with $pag.Last }}
		    	<span class="displaypageNum">
		    		<a href="{{ .URL }}">
		    			<i class="fa fa-angle-double-right fa-lg"></i>
		    		</a>
	    		</span>
		    {{ end }}
	</div>
{{ end }}
