<div id='main-wrapper'>
	<div class='main section' id='main'>
		<div class='widget Blog' data-version='1' id='Blog1'>
			<div class='blog-posts hfeed'>


				{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
				{{ range $paginator.Pages }}

				{{ partial "post_preview.html" . }}

				<!-- <div class="date-outer">
					<h2 class='date-header'><span>Friday, 6 March 2015</span></h2>
					<div class="date-posts">
						{{ partial "post_01_love_writing.html" . }}
						{{ partial "post_02_ultimate_consumers.html" . }}
						{{ partial "post_03_beyond_blogging.html" . }}
						{{ partial "post_04_starbucks_represents.html" . }}
						{{ partial "post_05_music_moral_law.html" . }}
						{{ partial "post_06_fashion_fades.html" . }}
					</div>
				</div> -->

				{{ end }}
				{{ template "_internal/pagination.html" . }}
			</div>
			{{ partial "main_posts_pager.html" . }} <!-- even -->
			<div class='clear'></div>
			<div class='blog-feeds'></div>
			<script type='text/javascript'>
				window.___gcfg = { 'lang': 'en-GB' };
			</script>
		</div>
		<div class='widget HTML' data-version='1' id='HTML901'>	</div>
		<div class='widget HTML' data-version='1' id='HTML902'></div>
	</div>
</div>