<div class='post-outer'>
	<div class='post hentry' itemprop='blogPost' itemscope='itemscope' itemtype='http://schema.org/BlogPosting'>
		<div class='post-header'></div>
		<article>
			<font class='retitle'>
			<h2 class='post-title entry-title'>
			<a href='{{ .Permalink }}'>{{ .Title}}</a>
			</h2>
			</font>
			<div class='date-header'>
				<div id='meta-post'>
					{{ if not .Site.Params.disableReadingTime }}{{ .ReadingTime }} minute read {{ end }}
					<i class='fa fa-calendar-o'></i>
					<abbr class='published timeago' title='2015-03-06T23:09:00-08:00'>{{ .Date.Format "Jan 2, 2006" }}</abbr>
					{{ if .Site.Params.disqusShortname }} 
						<span class='post-comment-link'>
							<i class='fa fa-comment'></i>
							<a class="comment-link" href="{{ .Permalink }}#disqus_thread" data-disqus-identifier="{{ .Permalink }}"/>Comments</a>
						</span>
					{{ end }}
				</div>
				{{ if isset .Params "featured_image" }}
					<div class='block-image'>
						<div class='thumb'>
							<a href='{{ .Permalink }}' style="background:url('{{ .Site.BaseURL }}img/{{ .Params.featured_image }}') no-repeat center center;background-size:cover"></a>
						</div>
					</div>
				{{ end }}
				<div class='resumo'>
					<span>
					{{ if .Description }}
        				{{ .Description }}
					{{ else }}
						{{ .Summary }}
					{{ end }}
					</span>
				</div>
				<div style='clear: both;'></div>
			</div>
			<div class='second-meta'>
				<a class='read-more anchor-hover' href="{{ .Permalink }}">Read more <i class='fa fa-chevron-right'></i></a>
				{{ if isset .Params "categories" }}
				<span class='post-labels'>
					{{ range .Params.categories }}
					<i class='fa fa-folder-open-o'></i>
					<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>
					{{ end }}
				</span>
				{{ end }}
			</div>
		</article>
	</div>
</div>