<div class='RecentPosts' data-version='1' id='RecentPosts1'>
	<h2>Recent Posts</h2>
	<div class='widget-content recent-posts'>
		<ul>
			{{ range first 5 ( where (where .Site.Pages.ByDate.Reverse "Type" "blog") ".Kind" "!=" "section") }}
	
			<li>
				<div class='item-thumbnail-only'>
					<div class='item-thumbnail'>
						<a href='{{ .Permalink }}'>
							<img alt='{{ .Title }}' border='0' height='72' src='{{ .Site.BaseURL }}img/{{ .Params.featured_image }}' width='72'/>
						</a>
					</div>
					<div class='item-title'><a href='{{ .Permalink }}'>{{ .Title}}</a></div>
				</div>
				<div style='clear: both;'></div>
			</li>
			{{ end }}
		</ul>
		<div class='clear'></div>
	</div>
</div>
