<div class='widget PopularPosts' data-version='1' id='PopularPosts1'>
	<h2>Popular Articles</h2>
	<div class='widget-content popular-posts'>
		<ul>
			<li>
				<div class='item-thumbnail-only'>
					<div class='item-thumbnail'>
						<a href='https://pixel-way2themes.blogspot.in/2015/03/love-writing-and-sharing.html'>
							<img alt='LOVE WRITING AND SHARING' border='0' height='72' src='http://placehold.it/90x65' width='72'/>
						</a>
					</div>
					<div class='item-title'><a href='https://pixel-way2themes.blogspot.in/2015/03/love-writing-and-sharing.html'>SOME BLOG POST 1</a></div>
				</div>
				<div style='clear: both;'></div>
			</li>
			<li>
				<div class='item-thumbnail-only'>
					<div class='item-thumbnail'>
						<a href='https://pixel-way2themes.blogspot.in/2015/03/the-ultimate-consumers.html'>
							<img alt='THE ULTIMATE CONSUMERS' border='0' height='72' src='http://placehold.it/90x65' width='72'/>
						</a>
					</div>
					<div class='item-title'><a href='https://pixel-way2themes.blogspot.in/2015/03/the-ultimate-consumers.html'>SOME BLOG POST 2</a></div>
				</div>
				<div style='clear: both;'></div>
			</li>
			<li>
				<div class='item-thumbnail-only'>
					<div class='item-thumbnail'>
						<a href='https://pixel-way2themes.blogspot.in/2015/03/it-is-beyond-blogging.html'>
							<img alt='IT IS BEYOND BLOGGING' border='0' height='72' src='http://placehold.it/90x65' width='72'/>
						</a>
					</div>
					<div class='item-title'><a href='https://pixel-way2themes.blogspot.in/2015/03/it-is-beyond-blogging.html'>SOME BLOG POST 3</a></div>
				</div>
				<div style='clear: both;'></div>
			</li>
			<li>
				<div class='item-thumbnail-only'>
					<div class='item-thumbnail'>
						<a href='https://pixel-way2themes.blogspot.in/2015/03/starbucks-represents-something-beyond.html'>
							<img alt='STARBUCKS REPRESENTS SOMETHING' border='0' height='72' src='http://placehold.it/90x65' width='72'/>
						</a>
					</div>
					<div class='item-title'><a href='https://pixel-way2themes.blogspot.in/2015/03/starbucks-represents-something-beyond.html'>SOME BLOG POST 4</a></div>
				</div>
				<div style='clear: both;'></div>
			</li>
		</ul>
		<div class='clear'></div>
	</div>
</div>