{{ partial "header.html" . }}

<div class='row' id='content-wrapper'>
    <div id='main-wrapper'>
      <div class='main section' id='main'>
      <!-- End header -->


        <div id="main">
          <div id="content">
            <div>
              <article class="hentry" role="article">

                {{ .Scratch.Set "isHome" false }}
                <!-- partial "post_header.html" . -->

                <div class="entry-content">
                  {{ $.Scratch.Set "pagetoc" .TableOfContents }}
                  {{ if or (and (isset .Params "toc") (eq .Params.toc true)) (and (not (isset .Params "toc")) (eq .Site.Params.tableOfContents true)) }}
                    {{ $.Scratch.Get "pagetoc" }}
                  {{ end }}
                  {{ .Content }}
                </div>
                <!-- partial "post_footer.html" . -->
              </article>
            </div>
          </div>
        </div>


      <!-- Start sidebar -->
      </div>
    </div>
    <!-- Sidebar -->
    <div id='sidebar-wrapper'>
      <div class='sidebar ready-widget section' id='sidebar'>
        {{ partial "sidebar_about_me.html" . }}
        {{ partial "sidebar_popular_articles.html" . }}
        {{ partial "sidebar_featured.html" . }}
        {{ partial "sidebar_categories.html" . }}
      </div>
    </div>
    <div style='clear: both;'></div>
  </div>





{{ partial "footer.html" . }}
