<!-- Categories page -->
{{ partial "header.html" . }}
<div class='row' id='content-wrapper'>
    <div id='main-wrapper'>
        <div class='main section' id='main'>
            <div class='blog-posts hfeed'>
                {{ $paginator := .Pages.ByDate.Reverse }}
                {{ range .Paginator.Pages }}
                    {{ partial "post_preview.html" . }}
                {{ end }}
            </div>
            {{ partial "main_posts_pager.html" . }} <!-- even -->
            <div class='clear'></div>
        </div>
    </div>
    <!-- Sidebar -->
    <div id='sidebar-wrapper'>
        <div class='sidebar ready-widget section' id='sidebar'>
            {{ partial "sidebar_about_me.html" . }}
            {{ partial "sidebar_recent_posts.html" . }}
            {{ partial "sidebar_categories.html" . }}
            {{ partial "sidebar_links.html" . }}
        </div>
    </div>
    <div style='clear: both;'></div>
</div>
<!-- end content-wrapper -->
{{ partial "lower_navigation.html" . }}
{{ partial "footer.html" . }}
